apiVersion: apps/v1
kind: Deployment
metadata:
  name: trend-app
<<<<<<< HEAD
=======
  labels:
    app: trend-app
>>>>>>> 2736d7d (Initial commit of Trend_app)
spec:
  replicas: 2
  selector:
    matchLabels:
      app: trend-app
  template:
    metadata:
      labels:
        app: trend-app
    spec:
      containers:
<<<<<<< HEAD
        - name: trend-container
          image: faizalfaizu/trend-app:latest
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
=======
        - name: trend-app
          image: faizalfaizu/trend-app:latest
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "200m"
              memory: "256Mi"
>>>>>>> 2736d7d (Initial commit of Trend_app)
